html * {
    font-family: Montserrat !important;
}

#projectName {
    background: #367fa9;
    color: white;
    width: 10%;
    height: 5%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
}

#userInfo {
    background: #222d32;
    color: white;
    width: 200px;
    height: 7%;
    position: absolute;
    top: 5%;
    left: 0;
    display: flex;
    align-items: center;
}

#pageTitle {
    background: #367fa9;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 3vh;
    height: 5%;
    position: absolute;
    top: 0;
    right: 0;
}

#menuDrawer {
    background: #222d32;
    color: #b8c7ce;
    position: absolute;
    top: 12%;
    left: 0;
    width: 200px;
    height: 88%;
}

#mainContent {
    position: absolute;
    top: 5%;
    left: 200px;
    height: 95%;
    width: 90%;
}

.userPhoto {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    margin-left: 5%;
}

.nameAndRole {
    display: flex;
    flex-flow: column;
    text-align: center;
    font-size: 1.5vh;
    width: 75%;
    line-height: 1.8em;
}

.userMail {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.collapsible {
    background-color: #222d32;
    color: #b8c7ce;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.signOutButton {
    background-color: #222d32;
    color: #b8c7ce;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    position: absolute;
    bottom: 2%;
    left: 0;
}

.signOutButton:hover {
    background-color: #1E282C;
    color: white;
}

.active,
.collapsible:hover {
    background-color: #1e282c;
    color: white;
}

.collapsibleChildren {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.childButton {
    background-color: #2c3b41;
    color: #b8c7ce;
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    text-align: start;
    padding: 3% 0 3% 15%;
}

.childButton:hover {
    background-color: #1E282C;
    color: white;
}

.endIcon {
    float: right;
}

.active .endIcon {
    transform: rotate(90deg);
}

.loginContainer {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.background {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.loginFrame {
    height: 30%;
    min-height: 260px;
    width: 370px;
    background: white;
    border-radius: 5px;
    position: absolute;
}