<div id="projectName">
  <span><span style="font-weight: bold;">Gestión</span> Intelihogar</span>
</div>

<div id="userInfo">
  <img class="userPhoto" src="resources/imgs/profileImage.png" alt="profileImage">
  <div class="nameAndRole">
    <span class="userMail">NeverMore</span>
    <span>Boss</span>
  </div>
</div>

<div id="pageTitle">
  <span>Instalaciones</span>
</div>

<div id="menuDrawer">
  <button class="collapsible">
    <span class="material-icons-outlined">storage</span>
    <span>Almacén</span>
    <span class="material-icons-outlined endIcon">chevron_right</span>
  </button>
  <div class="collapsibleChildren">
    <button class="childButton" (click)="userCanAccess('warehouse', 'inventory')">
      <span class="material-icons-outlined">remove</span>
      <span>Inventario</span>
    </button>
    <button class="childButton" (click)="userCanAccess('warehouse', 'delivery')">
      <span class="material-icons-outlined">remove</span>
      <span>Entrega</span>
    </button>
    <button class="childButton" (click)="userCanAccess('warehouse', 'logs')">
      <span class="material-icons-outlined">remove</span>
      <span>Historial</span>
    </button>
  </div>
  <button class="collapsible">
    <span class="material-icons-outlined">store</span>
    <span>Tienda</span>
    <span class="material-icons-outlined endIcon">chevron_right</span>
  </button>
  <div class="collapsibleChildren">
    <button class="childButton" (click)="userCanAccess('store', 'landing')">
      <span class="material-icons-outlined">remove</span>
      <span>Inicio</span>
    </button>
    <button class="childButton" (click)="userCanAccess('store', 'products')">
      <span class="material-icons-outlined">remove</span>
      <span>Productos</span>
    </button>
    <button class="childButton" (click)="userCanAccess('store', 'blog')">
      <span class="material-icons-outlined">remove</span>
      <span>Blog</span>
    </button>
  </div>
  <button class="collapsible">
    <span class="material-icons-outlined">list_alt</span>
    <span>Ordenes</span>
    <span class="material-icons-outlined endIcon">chevron_right</span>
  </button>
  <div class="collapsibleChildren">
    <button class="childButton" (click)="userCanAccess('orders', 'newOrders')">
      <span class="material-icons-outlined">remove</span>
      <span>Nuevas</span>
    </button>
    <button class="childButton" (click)="userCanAccess('orders', 'assignedOrders')">
      <span class="material-icons-outlined">remove</span>
      <span>Asignadas</span>
    </button>
    <button class="childButton" (click)="userCanAccess('orders', 'finishedOrders')">
      <span class="material-icons-outlined">remove</span>
      <span>Finalizadas</span>
    </button>
  </div>
  <button class="collapsible">
    <span class="material-icons-outlined">handyman</span>
    <span>Instalaciones</span>
    <span class="material-icons-outlined endIcon">chevron_right</span>
  </button>
  <div class="collapsibleChildren">
    <button class="childButton" (click)="userCanAccess('installer', 'myInventory')">
      <span class="material-icons-outlined">remove</span>
      <span>Mi inventario</span>
    </button>
    <button class="childButton" (click)="userCanAccess('installer', 'newInstallations')">
      <span class="material-icons-outlined">remove</span>
      <span>Nuevas</span>
    </button>
    <button class="childButton" (click)="userCanAccess('installer', 'assignedInstallations')">
      <span class="material-icons-outlined">remove</span>
      <span>Asignadas</span>
    </button>
    <button class="childButton" (click)="userCanAccess('installer', 'finishedInstallations')">
      <span class="material-icons-outlined">remove</span>
      <span>Finalizadas</span>
    </button>
  </div>
  <button class="collapsible" (click)="userCanAccess('subscriptions', 'main')">
    <span class="material-icons-outlined">subscriptions</span>
    <span>Suscripciones</span>
  </button>
  <button class="collapsible" (click)="userCanAccess('clients', 'main')">
    <span class="material-icons-outlined">people</span>
    <span>Clientes</span>
  </button>
  <button class="collapsible" (click)="userCanAccess('locations', 'main')">
    <span class="material-icons-outlined">push_pin</span>
    <span>Localizaciones</span>
  </button>
  <button class="collapsible" (click)="userCanAccess('admin', 'main')">
    <span class="material-icons-outlined">admin_panel_settings</span>
    <span>Administración</span>
  </button>
  <button class="signOutButton" (click)="signOut()">
    <span class="material-icons-outlined">logout</span>
    <span>Cerrar Sesión</span>
  </button>
</div>
<router-outlet></router-outlet>
